{{ define "header" }}
    <header data-bs-theme="dark"> 
        <nav class="navbar navbar-expand-lg  bg-dark  sticky-top border-bottom" data-bs-theme="dark"> 
            <div class="container"> 
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation"> 
                    <span class="navbar-toggler-icon"></span> 
                </button> 
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel"> 
                    <div class="offcanvas-header"> 
                        <h5 class="offcanvas-title" id="offcanvasLabel">Aperture</h5> 
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> 
                    </div> 
                    <div class="collapse navbar-collapse" id="navbarNavDropdown"> 
                        <ul class="navbar-nav flex-grow-1 justify-content-between"> 
                            <li class="nav-item">
                                <a class="nav-link" href="/shop/" aria-label="Aperture"> 
                                    <svg class="bi" width="24" height="24" aria-hidden="true">
                                        <use xlink:href="#aperture"></use>
                                    </svg> 
                                    <strong>Shop</strong> 
                                </a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="/shop/">Товар</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="#">Поддержка</a>
                            </li> 
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                Меню
                            </a>
                            <ul class="dropdown-menu" style="right: 11.5%; left:unset">
                                <li>
                                    <a class="dropdown-item" href="/cart/" aria-label="Cart">Корзина</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/replenishment/">Пополнить</a>
                                </li>  
                                <li>
                                    <a class="dropdown-item" href="/profile/">Профиль</a>
                                </li> 
                                <li>
                                    <a class="dropdown-item" href="/exit/">Выйти</a>
                                </li> 
                            </ul>
                        </ul> 
                    </div> 
                </div> 
            </div> 
        </nav>
    </header> 
{{ end }}